@model Gbso.App.Model.General.NaturalPersonModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NaturalPersonModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdType" class="control-label">I.T</label>
                @Html.EditorFor(m => m.IdType)
                <span asp-validation-for="IdType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Identification" class="control-label"></label>
                <input asp-for="Identification" class="form-control" />
                <span asp-validation-for="Identification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                @Html.EditorFor(m => m.Birthdate)
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondName" class="control-label"></label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstSurname" class="control-label"></label>
                <input asp-for="FirstSurname" class="form-control" />
                <span asp-validation-for="FirstSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondSurname" class="control-label"></label>
                <input asp-for="SecondSurname" class="form-control" />
                <span asp-validation-for="SecondSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodType" class="control-label"></label>
                @Html.EditorFor(m => m.BloodType)
                <span asp-validation-for="BloodType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rh" class="control-label"></label>
                @Html.EditorFor(m => m.Rh)
                <span asp-validation-for="Rh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
